body {
  background-color: #6114cc;
  min-height: 2000px;
  font-family: "Lato";
  margin: 0; }

.preview {
  color: white;
  font-size: 16px;
  text-align: center;
  padding-bottom: 40px;
  width: 75%;
  margin: 0 auto; }

.line {
  background: white;
  height: 6px;
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: 50px; }

.header {
  display: block;
  padding: 1em 0;
  font-size: 50px;
  font-weight: bolder;
  text-align: center; }

.nav-bar {
  background: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  z-index: 9; }
  .nav-bar .logo {
    background-image: url("../images/WT.png");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    display: block;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 5px; }
  .nav-bar .menu {
    position: absolute;
    right: 0;
    top: 0; }
    .nav-bar .menu a {
      display: inline-block;
      font-size: 14px;
      color: white;
      margin-right: 35px;
      margin-top: 20px;
      text-decoration: none; }
      .nav-bar .menu a:hover {
        text-decoration: underline;
        color: white; }

.home-area {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  padding-top: 250px; }
  .home-area .title {
    color: white;
    font-size: 80px;
    font-weight: bold; }
  .home-area .sub-title {
    font-size: 15px;
    color: white;
    display: block;
    padding-top: 20px; }
  .home-area .home-link-area {
    padding-top: 20px; }
    .home-area .home-link-area .home-link {
      font-size: 40px;
      padding: 25px;
      color: white; }
      .home-area .home-link-area .home-link:hover {
        color: #009CF3; }
    .home-area .home-link-area .twitter-wrapper {
      padding-top: 20px; }

.about {
  position: relative;
  width: 70%;
  min-height: 100vh;
  margin: auto;
  color: white;
  margin-bottom: 30vh;
  padding-top: 25px; }
  .about p {
    line-height: 2em; }
  .about .laptop-image {
    background-image: url("../images/lapcell.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    overflow: hidden;
    display: block;
    height: 350px;
    position: relative;
    margin: auto; }

.slack {
  position: relative;
  width: 70%;
  min-height: 75vh;
  margin: auto;
  color: white;
  padding-top: 25px; }
  .slack p {
    line-height: 2em; }
  .slack .slack-image {
    background-image: url("../images/slack.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    overflow: hidden;
    display: block;
    height: 275px;
    position: relative;
    margin: auto; }

.invite-area {
  padding-top: 12em;
  padding-bottom: 50px;
  height: 250px; }
  .invite-area .button {
    width: 350px;
    background: #009CF3;
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s; }
    .invite-area .button:hover {
      background: #2288bb; }
  .invite-area #login {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    transition: opacity 1s;
    -webkit-transition: opacity 1s; }
    .invite-area #login #triangle {
      width: 0;
      border-top: 12x solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #3399cc;
      border-left: 12px solid transparent;
      margin: 0 auto; }
    .invite-area #login form {
      background: #252525;
      padding: 6% 4%;
      border-radius: 5px; }
      .invite-area #login form input[type="email"] {
        width: 92%;
        background: #fff;
        margin-bottom: 4%;
        border: 1px solid #ccc;
        padding: 4%;
        font-size: 95%;
        color: #555; }
      .invite-area #login form input[type="submit"] {
        width: 100%;
        background: #009CF3;
        border: 0;
        padding: 4%;
        font-size: 100%;
        color: #fff;
        cursor: pointer;
        transition: background .3s;
        -webkit-transition: background .3s; }
      .invite-area #login form input[type="submit"]:hover {
        background: #2288bb; }

.chat-area {
  padding-top: 5em;
  padding-bottom: 50px; }
  .chat-area .chat-wrapper {
    overflow: auto;
    display: table;
    margin-left: auto;
    margin-right: auto; }
    .chat-area .chat-wrapper .chat-widget {
      float: left;
      margin: 1em;
      min-width: 25em; }
      .chat-area .chat-wrapper .chat-widget .chat-header {
        background: #009CF3;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        margin: 0em;
        position: relative;
        width: 100%;
        height: 35px;
        line-height: 35px;
        border-radius: 25px; }
        .chat-area .chat-wrapper .chat-widget .chat-header h2 {
          margin: 0;
          padding: 0;
          font-size: 14px; }
      .chat-area .chat-wrapper .chat-widget .chats {
        background: transparent;
        width: 100%;
        position: relative;
        margin: 0 auto; }
        .chat-area .chat-wrapper .chat-widget .chats .odd {
          background: #fff; }
        .chat-area .chat-wrapper .chat-widget .chats .even {
          background: #fff; }
        .chat-area .chat-wrapper .chat-widget .chats ul {
          list-style: none;
          padding: 0;
          margin: 0; }
          .chat-area .chat-wrapper .chat-widget .chats ul li {
            position: relative;
            display: block;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            margin-top: 10px;
            border-radius: 50px; }
            .chat-area .chat-wrapper .chat-widget .chats ul li .chat-avatar {
              display: inline-block;
              width: 45px;
              height: 45px;
              line-height: 50px;
              text-align: center;
              text-decoration: none;
              border-radius: 25px; }
            .chat-area .chat-wrapper .chat-widget .chats ul li .content {
              display: inline-block;
              margin-left: 6px;
              vertical-align: top;
              line-height: 1; }
              .chat-area .chat-wrapper .chat-widget .chats ul li .content .chat-name {
                display: block;
                width: 100%;
                margin-bottom: 5px; }
              .chat-area .chat-wrapper .chat-widget .chats ul li .content .chat-message {
                display: block;
                width: 100%;
                max-width: 200px;
                margin-bottom: 5px;
                color: #888;
                font-size: 12px; }

.affiliates-area {
  position: relative;
  width: 70%;
  min-height: 100vh;
  margin: auto;
  color: white;
  padding-top: 5em;
  text-align: center; }
  .affiliates-area a {
    text-decoration: none; }
    .affiliates-area a .company-logo {
      height: 200px;
      width: 200px;
      background: white;
      border-radius: 5px;
      display: inline-block;
      margin: 5px;
      position: relative;
      text-align: left; }
      .affiliates-area a .company-logo .logo {
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 130px;
        height: 130px;
        left: 20%;
        top: 10%; }
      .affiliates-area a .company-logo #blubeta {
        background-image: url("../images/blubeta.svg"); }
      .affiliates-area a .company-logo #fuegtees {
        background-image: url("../images/FuegTees.png"); }
      .affiliates-area a .company-logo #blackbambu {
        background-image: url("../images/blackbambu.png");
        top: 33%; }
      .affiliates-area a .company-logo .company-name {
        color: #252525;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 15px;
        font-size: 20px; }

.members-area {
  position: relative;
  width: 70%;
  min-height: 100vh;
  margin: auto;
  color: white;
  padding-top: 5em; }
  .members-area .member-info {
    text-align: center;
    width: 100px;
    height: 95px; }
    .members-area .member-info .member-avatar {
      background: white;
      height: 50px;
      width: 50px;
      position: relative;
      display: inline-block;
      border-radius: 5px; }
    .members-area .member-info .member-username {
      color: #252525;
      background: white;
      border-radius: 5px;
      padding: 4px;
      position: relative;
      top: 10px; }
  .members-area .language-wrapper {
    text-align: center; }
    .members-area .language-wrapper .language-logo {
      height: 100px;
      width: 100px;
      background: white;
      border-radius: 5px;
      display: inline-block;
      margin: 5px;
      position: relative;
      text-align: left; }
      .members-area .language-wrapper .language-logo .logo {
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 50px;
        height: 50px;
        left: 27%;
        top: 17%; }
      .members-area .language-wrapper .language-logo .language-name {
        color: #252525;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 8px;
        font-size: 14px; }
      .members-area .language-wrapper .language-logo #adobe {
        background-image: url("../images/adobe.png");
        width: 55px;
        height: 100px;
        top: 13%;
        left: 23%; }
      .members-area .language-wrapper .language-logo #angular {
        background-image: url("../images/angular.png");
        width: 55px;
        height: 100px;
        top: 13%;
        left: 23%; }
      .members-area .language-wrapper .language-logo #aws {
        background-image: url("../images/aws.png");
        width: 80px;
        height: 100px;
        top: 5%;
        left: 10%; }
      .members-area .language-wrapper .language-logo #css3 {
        background-image: url("../images/css3.svg");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 26px; }
      .members-area .language-wrapper .language-logo #golang {
        background-image: url("../images/golang.png");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 26px; }
      .members-area .language-wrapper .language-logo #html5 {
        background-image: url("../images/HTML5.png");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 26px; }
      .members-area .language-wrapper .language-logo #javascript {
        background-image: url("../images/javascript.png");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 26px; }
      .members-area .language-wrapper .language-logo #linux {
        background-image: url("../images/linux.png");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 26px; }
      .members-area .language-wrapper .language-logo #node {
        background-image: url("../images/node.png");
        width: 90px;
        height: 100px;
        top: 30%;
        left: 8px; }
      .members-area .language-wrapper .language-logo #php {
        background-image: url("../images/php.png");
        width: 80px;
        height: 100px;
        top: 0%;
        left: 10px; }
      .members-area .language-wrapper .language-logo #rails {
        background-image: url("../images/rails.png");
        height: 55px;
        top: 14%;
        left: 25px; }
      .members-area .language-wrapper .language-logo #ruby {
        background-image: url("../images/ruby.png");
        width: 100px;
        height: 100px;
        top: -12%;
        left: 0; }
      .members-area .language-wrapper .language-logo #vim {
        background-image: url("../images/vim.png");
        width: 55px;
        height: 55px;
        top: 10%;
        left: 23px; }
      .members-area .language-wrapper .language-logo #wordpress {
        background-image: url("../images/wordpress.png");
        width: 55px;
        height: 55px;
        top: 10%;
        left: 23px; }

.footer {
  background: #252525;
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 150px;
  text-align: center; }
  .footer .footer-cta {
    padding-top: 15px;
    font-size: 20px;
    color: white; }
  .footer .footlinkarea {
    padding-top: 10px; }
    .footer .footlinkarea .footer-link {
      font-size: 40px;
      padding: 25px;
      color: white; }
      .footer .footlinkarea .footer-link:hover {
        color: #009CF3; }
  .footer .entity {
    color: white;
    padding-top: 15px;
    font-size: 10px; }

/*# sourceMappingURL=mainpage.css.map */
