body {
	background-color: rgb(97, 20, 204);
	min-height: 2000px;
	font-family: "Lato";
	margin: 0;
}

.preview{
	color:white;
	font-size: 16px;
	text-align: center;
	padding-bottom:40px;
	width: 75%;
	margin: 0 auto;
}

.line{
	background: white;
	height: 6px;
	width:100%;
	position:absolute;
	left:0;
	margin-top:50px;
}

.header{
	display: block;
	padding: 1em 0;
	font-size: 50px;
	font-weight: bolder;
	text-align:center;
}

.nav-bar{
	background: black;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: block;
	z-index: 9;
	.logo{
		background-image: url("../images/WT.png");
		background-repeat: no-repeat;
		background-size: contain;
		overflow: hidden;
		display: block;
		height: 50px;
		width: 50px;
		margin-left: 10px;
		margin-top: 5px;
	}
	.menu{
		position: absolute;
		right: 0;
		top: 0;
		a{
			display: inline-block;
			font-size: 14px;
			color:white;
			margin-right: 35px;
			margin-top: 20px;
			text-decoration:none;
			&:hover{
				text-decoration:underline;
				color:white;
			}
		}
	}
}

.home-area{
	width: 100%;
	height:100vh;
	text-align:center;
	position: relative;
	padding-top:250px;
	.title{
		color:white;
		font-size:80px;
		font-weight: bold;
	}
	.sub-title{
		font-size:15px;
		color:white;
		display: block;
		padding-top: 20px;
	}
	.home-link-area{
		padding-top:20px;
		.home-link{
			font-size: 40px;
			padding: 25px;
			color: white;
			&:hover{
				color:#009CF3;
			}
		}
		.twitter-wrapper{
			padding-top:20px;
		}
	}
}



.about{
	p {
		line-height: 2em;
	}
	position: relative;
	width: 70%;
	min-height: 100vh;
	margin: auto;
	color:white;
	margin-bottom: 30vh;
	padding-top:25px;
	.laptop-image{
		background-image: url("../images/lapcell.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		overflow: hidden;
		display: block;
		height: 350px;
		position: relative;
		margin: auto;
	}
}

.slack{
	p {
		line-height: 2em;
	}
	position: relative;
	width: 70%;
	min-height: 75vh;
	margin: auto;
	color:white;
	padding-top:25px;
	.slack-text{
	}
	.slack-image{
		background-image: url("../images/slack.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		overflow: hidden;
		display: block;
		height: 275px;
		position: relative;
		margin: auto;
	}
}


.invite-area{
	padding-top: 12em;
	padding-bottom: 50px;
	height: 250px;
	.button{
		width:350px;
		background:#009CF3;
		display:block;
		margin:0 auto;
		padding:20px;
		font-size:20px;
		text-align:center;
		text-decoration:none;
		border-radius: 8px;
		color:#fff;
		cursor:pointer;
		transition:background .3s;
		-webkit-transition:background .3s;
		&:hover{
			background: #2288bb;
		}
	}
	#login{
		width:400px;
		margin:0 auto;
		margin-top:8px;
		transition:opacity 1s;
		-webkit-transition:opacity 1s;
		#triangle{
			width:0;
			border-top:12x solid transparent;
			border-right:12px solid transparent;
			border-bottom:12px solid #3399cc;
			border-left:12px solid transparent;
			margin:0 auto;
		}
		form{
			background:#252525;
			padding:6% 4%;
			border-radius:5px;
			input[type="email"]{
				width:92%;
				background:#fff;
				margin-bottom:4%;
				border:1px solid #ccc;
				padding:4%;
				font-size:95%;
				color:#555;
			}
			input[type="submit"]{
				width:100%;
				background:#009CF3;
				border:0;
				padding:4%;
				font-size:100%;
				color:#fff;
				cursor:pointer;
				transition:background .3s;
				-webkit-transition:background .3s;
			}
			input[type="submit"]:hover{
				background:#2288bb;
			}
		}
	}
}

.chat-area{
	padding-top: 5em;
	padding-bottom: 50px;
	.chat-wrapper{
		overflow: auto;
		display:table;
		margin-left:auto;
		margin-right:auto;
		.chat-widget{
			float: left;
			margin:1em;
			min-width:25em;
			.chat-header{
				background: #009CF3;
				color: #ffffff;
				font-size: 14px;
				text-align: center;
				margin: 0em;
				position: relative;
				width: 100%;
				height: 35px;
				line-height: 35px;
				border-radius:25px;
				h2{
					margin: 0;
					padding: 0;
					font-size: 14px;
				}
			}
			.chats{
				background: transparent;
				width: 100%;
				position: relative;
				margin: 0 auto;
				.odd{
					background:#fff;
				}
				.even{
					background:#fff;
				}
				ul{
					list-style: none;
					padding: 0;
					margin: 0;
					li{
						position: relative;
						display: block;
						width: 100%;
						padding: 10px;
						box-sizing: border-box;
						margin-top:10px;
						border-radius:50px;
						.chat-avatar{
							display: inline-block;
							width: 45px;
							height: 45px;
							line-height: 50px;
							text-align: center;
							text-decoration: none;
							border-radius: 25px;
						}
						.content{
							display: inline-block;
							margin-left: 6px;
							vertical-align: top;
							line-height: 1;
							.chat-name{
								display: block;
								width: 100%;
								margin-bottom: 5px;
							}	
							.chat-message{
								display: block;
								width: 100%;
								max-width: 200px;
								margin-bottom: 5px;
								color: #888;
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}


.affiliates-area{
	position: relative;
	width: 70%;
	min-height: 100vh;
	margin: auto;
	color: white;
	padding-top: 5em;
	text-align: center;
	a{
		text-decoration:none;
		.company-logo{
			height: 200px;
			width: 200px;
			background: white;
			border-radius:5px;
			display: inline-block;
			margin: 5px;
			position: relative;
			text-align: left;
			.logo{
				background-repeat: no-repeat;
				background-size: contain;
				position:absolute;
				width: 130px;
				height: 130px;
				left: 20%;
				top: 10%;
			}
			#blubeta{
				background-image: url("../images/blubeta.svg");
			}
			#fuegtees{
				background-image: url("../images/FuegTees.png");
			}
			#blackbambu{
				background-image: url("../images/blackbambu.png");
				top:33%;
			}
			.company-name{
				color: #252525;
				position: absolute;
				width: 100%;
				text-align: center;
				bottom: 15px;
				font-size:20px;
			}
		}
	}
}

.members-area{
	position: relative;
	width: 70%;
	min-height: 100vh;
	margin: auto;
	color: white;
	padding-top: 5em;
	.member-info{
		text-align: center;
		width: 100px;
		height: 95px;
		.member-avatar{
			background: white;
			height:50px;
			width:50px;
			position: relative;
			display: inline-block;
			border-radius: 5px;
		}
		.member-username{
			color: #252525;
			background: white;
			border-radius: 5px;
			padding: 4px;
			position: relative;
			top: 10px;
		}
	}
	.language-wrapper{
		text-align:center;
		.language-logo{
			height: 100px;
			width: 100px;
			background: white;
			border-radius:5px;
			display: inline-block;
			margin: 5px;
			position: relative;
			text-align: left;
			.logo{
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				width: 50px;
				height: 50px;
				left: 27%;
				top: 17%;
			}
			.language-name{
				color: #252525;
				position: absolute;
				width: 100%;
				text-align: center;
				bottom: 8px;
				font-size:14px;
			}
			#adobe{
				background-image: url("../images/adobe.png");
				width: 55px;
				height: 100px;
				top: 13%;
				left: 23%;
			}
			#angular{
				background-image: url("../images/angular.png");
				width: 55px;
				height: 100px;
				top: 13%;
				left: 23%;
			}
			#aws{
				background-image: url("../images/aws.png");
				width: 80px;
				height: 100px;
				top: 5%;
				left: 10%;
			}
			#css3{
				background-image: url("../images/css3.svg");
				width: 50px;
				height: 51px;
				top: 15%;
				left: 26px;
			}
			#golang{
				background-image: url("../images/golang.png");
				width: 50px;
				height: 51px;
				top: 15%;
				left: 26px;
			}
			#html5{
				background-image: url("../images/HTML5.png");
				width: 50px;
				height: 51px;
				top: 15%;
				left: 26px;
			}
			#javascript{
				background-image: url("../images/javascript.png");
				width: 50px;
				height: 51px;
				top: 15%;
				left: 26px;
			}
			#linux{
				background-image: url("../images/linux.png");
				width: 50px;
				height: 51px;
				top: 15%;
				left: 26px;
			}
			#node{
				background-image: url("../images/node.png");
				width: 90px;
				height: 100px;
				top: 30%;
				left: 8px;
			}
			#php{
				background-image: url("../images/php.png");
				width: 80px;
				height: 100px;
				top: 0%;
				left: 10px;
			}
			#rails{
				background-image: url("../images/rails.png");
				height: 55px;
				top: 14%;
				left: 25px;
			}
			#ruby{
				background-image: url("../images/ruby.png");
				width: 100px;
				height: 100px;
				top: -12%;
				left:0;
			}
			#vim{
				background-image: url("../images/vim.png");
				width: 55px;
				height: 55px;
				top: 10%;
				left: 23px;
			}
			#wordpress{
				background-image: url("../images/wordpress.png");
				width: 55px;
				height: 55px;
				top: 10%;
				left: 23px;
			}
		}
	}
}

.footer{
	background:#252525;
	display: inline-block;
	position: relative;
	width: 100%;
	min-height: 150px;
	text-align: center;
	.footer-cta{
		padding-top:15px;
		font-size:20px;
		color:white;
	}
	.footlinkarea{
		padding-top:10px;
		.footer-link{
			font-size: 40px;
			padding: 25px;
			color: white;
			&:hover{
				color:#009CF3;
			}
		}
	}
	.entity{
		color: white;
		padding-top:15px;
		font-size:10px;
	}
}
