body {
	background-color: rgb(97, 20, 204);
	min-height: 2000px;
	font-family: "Lato";
	margin: 0;
}

.nav-bar{
	background: black;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: block;
	z-index: 9;
	.logo{
		background-image: url("../images/WT.png");
		background-repeat: no-repeat;
		background-size: contain;
		overflow: hidden;
		display: block;
		height: 50px;
		width: 50px;
		margin-left: 10px;
		margin-top: 5px;
	}
	.menu{
		position: absolute;
		right: 0;
		top: 0;
		a{
			display: inline-block;
			font-size: 14px;
			color:white;
			margin-right: 35px;
			margin-top: 20px;
			text-decoration:none;
			&:hover{
				text-decoration:underline;
				color:white;
			}
		}
	}
}
.container-title{
	width: 100%;
	height:100vh;
	text-align:center;
	position: relative;
	padding-top:250px;
	.title{
		color:white;
		font-size:80px;
		font-weight: bold;
	}
	.sub-title{
		font-size:15px;
		color:white;
		display: block;
		padding-top: 20px;
	}
}
.line{
	background: white;
	height: 6px;
	width:100%;
	position:absolute;
	left:0;
	margin-top:50px;
}
.header{
	display: block;
	padding: 1em 0;
	font-size: 50px;
	font-weight: bolder;
  text-align:center;
}

.about{
  p {
    line-height: 2em;
  }
	position: relative;
	width: 70%;
	min-height: 100vh;
	margin: auto;
	color:white;
	margin-bottom: 30vh;
	padding-top:25px;
	.laptop-image{
		background-image: url("../images/lapcell.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		overflow: hidden;
		display: block;
		height: 350px;
		position: relative;
		margin: auto;
	}
	.about-text{

	}
}
.slack{
  p {
    line-height: 2em;
  }
	position: relative;
	width: 70%;
	min-height: 75vh;
	margin: auto;
	color:white;
	padding-top:25px;
	.slack-text{
	}
	.slack-image{
		background-image: url("../images/slack.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		overflow: hidden;
		display: block;
		height: 275px;
		position: relative;
		margin: auto;
	}
}


.footer{
	background:#252525;
	display: inline-block;
	position: relative;
	width: 100%;
	min-height: 150px;
	text-align: center;
	.footer-cta{
		padding-top:15px;
		font-size:22px;
		color:white;
	}
}
.invite-area{
	padding-top: 12em;
	padding-bottom: 50px;
	height: 250px;
	.button{
		width:350px;
		background:#009CF3;
		display:block;
		margin:0 auto;
		padding:20px;
		font-size:20px;
		text-align:center;
		text-decoration:none;
		border-radius: 8px;
		color:#fff;
		cursor:pointer;
		transition:background .3s;
		-webkit-transition:background .3s;
		&:hover{
			background: #2288bb;
		}
	}

	#login{
		width:400px;
		margin:0 auto;
		margin-top:8px;
		transition:opacity 1s;
		-webkit-transition:opacity 1s;

		#triangle{
			width:0;
			border-top:12x solid transparent;
			border-right:12px solid transparent;
			border-bottom:12px solid #3399cc;
			border-left:12px solid transparent;
			margin:0 auto;
		}

		form{
			background:#252525;
			padding:6% 4%;

			input[type="email"]{
				width:92%;
				background:#fff;
				margin-bottom:4%;
				border:1px solid #ccc;
				padding:4%;
				font-size:95%;
				color:#555;
			}

			input[type="submit"]{
				width:100%;
				background:#009CF3;
				border:0;
				padding:4%;
				font-size:100%;
				color:#fff;
				cursor:pointer;
				transition:background .3s;
				-webkit-transition:background .3s;
			}

			input[type="submit"]:hover{
				background:#2288bb;
			}
		}
	}
}
.preview{
	color:white;
	font-size: 16px;
	text-align: center;
	padding-bottom:40px;
	width: 75%;
	margin: 0 auto;
}
.chat-area{
	padding-top: 25px;
	padding-bottom: 50px;
	.chat-header{
		background: #009CF3;
		color: #ffffff;
		font-size: 14px;
		text-align: center;
		margin: 0 auto;
		position: relative;
		width: 70%;
		height: 35px;
		line-height: 35px;
		border-radius:25px;
		h2{
			margin: 0;
			padding: 0;
			font-size: 14px;
		}
	}
	.chats{
		background: transparent;
		width: 70%;
		position: relative;
		margin: 0 auto;
		.odd{
			background:#fff;
		}
		.even{
			background:#fff;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				position: relative;
				display: block;
				width: 100%;
				padding: 10px;
				box-sizing: border-box;
				margin-top:10px;
				border-radius:50px;
				.chat-avatar{
					display: inline-block;
					width: 45px;
					height: 45px;
					line-height: 50px;
					text-align: center;
					text-decoration: none;
					border-radius: 25px;
				}
				.content{
					display: inline-block;
					margin-left: 6px;
					vertical-align: top;
					line-height: 1;
					.chat-name{
						display: block;
						width: 100%;
						margin-bottom: 5px;
					}	
					.chat-message{
						display: block;
						width: 100%;
						max-width: 200px;
						margin-bottom: 5px;
						color: #888;
						font-size: 12px;
					}
				}
			}
		}
	}
}
	.footlinkarea{
		padding-top:18px;
		.footer-link{
			font-size: 40px;
			padding: 25px;
			color: white;
			&:hover{
				color:#009CF3;
			}
		}
	}

