body {
  background-color: black;
  height: 100%;
  font-family: "Lato";
  margin: 0; }

.preview {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-bottom: 40px;
  width: 70%;
  margin: 0 auto; }

.header {
  display: block;
  padding: 1em 0;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  border-top: 6px white solid;
  width: 70%;
  margin: 0 auto; }

.space {
  background: url("../images/banner.jpg") no-repeat center top fixed;
  background-size: cover;
  color: white; }

.wynwood {
  background: #252525;
  background-size: cover; }

.nav-bar {
  background: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  z-index: 9; }
  .nav-bar .logo {
    background-image: url("../images/WT.png");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    display: block;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 5px; }
  .nav-bar .menu {
    position: absolute;
    right: 0;
    top: 0; }
    .nav-bar .menu a {
      display: inline-block;
      font-size: 14px;
      color: white;
      margin-right: 35px;
      margin-top: 20px;
      text-decoration: none; }
      .nav-bar .menu a:hover {
        text-decoration: underline;
        color: white; }

.home-area {
  width: 100%;
  height: 120vh;
  text-align: center;
  position: relative;
  padding-top: 150px; }
  .home-area .title {
    color: white;
    font-size: 80px;
    font-weight: bold; }
  .home-area .sub-title {
    font-size: 1.4em;
    color: white;
    display: block;
    padding-top: 20px; }
  .home-area .home-link-area {
    padding-top: 20px; }
    .home-area .home-link-area .home-link {
      font-size: 40px;
      padding: 25px;
      color: white; }
      .home-area .home-link-area .home-link:hover {
        color: #009CF3; }
    .home-area .home-link-area .twitter-wrapper {
      padding-top: 30px; }
  .home-area .button {
    width: 350px;
    background: #009CF3;
    display: block;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s; }
    .home-area .button:hover {
      background: #2288bb; }
  .home-area #login {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    transition: opacity 1s;
    -webkit-transition: opacity 1s; }
    .home-area #login #triangle {
      width: 0;
      border-top: 12x solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #3399cc;
      border-left: 12px solid transparent;
      margin: 0 auto; }
    .home-area #login form {
      background: #252525;
      padding: 6% 4%;
      border-radius: 5px;
      border: 1px solid #fff; }
      .home-area #login form input[type="email"] {
        width: 92%;
        background: #fff;
        margin-bottom: 4%;
        border: 1px solid #ccc;
        padding: 4%;
        font-size: 95%;
        color: #555; }
      .home-area #login form input[type="submit"] {
        width: 100%;
        background: #009CF3;
        border: 0;
        padding: 4%;
        font-size: 100%;
        color: #fff;
        cursor: pointer;
        transition: background .3s;
        -webkit-transition: background .3s; }
      .home-area #login form input[type="submit"]:hover {
        background: #2288bb; }

.about {
  position: relative;
  color: white;
  padding-top: 5em;
  padding-bottom: 5em; }
  .about p {
    line-height: 2em;
    width: 70%;
    margin: 0 auto;
    text-align: left; }
  .about .laptop-image {
    background-image: url("../images/lapcell.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    overflow: hidden;
    display: block;
    height: 300px;
    position: relative;
    margin: auto;
    margin-bottom: 5em; }

.slack {
  position: relative;
  color: white;
  padding-top: 5em;
  padding-bottom: 5em; }
  .slack p {
    line-height: 2em;
    width: 70%;
    margin: 0 auto; }
  .slack .slack-image {
    background-image: url("../images/slack.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    overflow: hidden;
    display: block;
    height: 250px;
    position: relative;
    margin: auto;
    margin-bottom: 5em; }

.slack-data-top {
  text-align: center;
  height: 150px;
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  display: inline-flex; }
  .slack-data-top .data-title {
    font-size: 25px; }
  .slack-data-top .data-number {
    font-size: 40px;
    position: relative;
    top: 10px; }
  .slack-data-top .total-members {
    width: 33%; }
  .slack-data-top .online-members {
    width: 33%; }
  .slack-data-top .messages-sent {
    width: 33%; }

.invite-area {
  padding-top: 5em;
  padding-bottom: 5em;
  height: 250px; }
  .invite-area .button {
    width: 350px;
    background: #009CF3;
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s; }
    .invite-area .button:hover {
      background: #2288bb; }
  .invite-area #login {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    transition: opacity 1s;
    -webkit-transition: opacity 1s; }
    .invite-area #login #triangle {
      width: 0;
      border-top: 12x solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #3399cc;
      border-left: 12px solid transparent;
      margin: 0 auto; }
    .invite-area #login form {
      background: #252525;
      padding: 6% 4%;
      border-radius: 5px;
      border: 1px solid #fff; }
      .invite-area #login form input[type="email"] {
        width: 92%;
        background: #fff;
        margin-bottom: 4%;
        border: 1px solid #ccc;
        padding: 4%;
        font-size: 95%;
        color: #555; }
      .invite-area #login form input[type="submit"] {
        width: 100%;
        background: #009CF3;
        border: 0;
        padding: 4%;
        font-size: 100%;
        color: #fff;
        cursor: pointer;
        transition: background .3s;
        -webkit-transition: background .3s; }
      .invite-area #login form input[type="submit"]:hover {
        background: #2288bb; }

.chat-area {
  padding-top: 5em;
  padding-bottom: 5em; }
  .chat-area .chat-wrapper {
    overflow: auto;
    display: table;
    margin-left: auto;
    margin-right: auto; }
    .chat-area .chat-wrapper .chat-widget {
      float: left;
      margin: 1em;
      min-width: 25em; }
      .chat-area .chat-wrapper .chat-widget .chat-header {
        background: #009CF3;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        margin: 0em;
        position: relative;
        width: 100%;
        height: 35px;
        line-height: 35px;
        border-radius: 25px; }
        .chat-area .chat-wrapper .chat-widget .chat-header h2 {
          margin: 0;
          padding: 0;
          font-size: 14px; }
      .chat-area .chat-wrapper .chat-widget .chats {
        background: transparent;
        width: 100%;
        position: relative;
        margin: 0 auto; }
        .chat-area .chat-wrapper .chat-widget .chats .odd {
          background: #fff; }
        .chat-area .chat-wrapper .chat-widget .chats .even {
          background: #fff; }
        .chat-area .chat-wrapper .chat-widget .chats ul {
          list-style: none;
          padding: 0;
          margin: 0; }
          .chat-area .chat-wrapper .chat-widget .chats ul li {
            position: relative;
            display: block;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            margin-top: 10px;
            border-radius: 50px;
            overflow: hidden; }
            .chat-area .chat-wrapper .chat-widget .chats ul li .chat-avatar {
              display: inline-block;
              width: 45px;
              height: 45px;
              line-height: 50px;
              text-align: center;
              text-decoration: none;
              border-radius: 25px; }
            .chat-area .chat-wrapper .chat-widget .chats ul li .content {
              display: inline-block;
              margin-left: 6px;
              vertical-align: top;
              line-height: 1; }
              .chat-area .chat-wrapper .chat-widget .chats ul li .content .chat-name {
                display: block;
                width: 100%;
                margin-bottom: 5px; }
              .chat-area .chat-wrapper .chat-widget .chats ul li .content .chat-message {
                display: block;
                width: 100%;
                max-width: 200px;
                margin-bottom: 5px;
                color: #888;
                font-size: 12px; }

.affiliates-area {
  position: relative;
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center; }
  .affiliates-area .company-wrapper {
    width: 70%;
    margin: 0 auto; }
    .affiliates-area .company-wrapper a {
      text-decoration: none; }
      .affiliates-area .company-wrapper a .company-logo {
        height: 200px;
        width: 200px;
        background: white;
        border-radius: 5px;
        display: inline-block;
        margin: 5px;
        position: relative;
        text-align: left; }
        .affiliates-area .company-wrapper a .company-logo .logo {
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          width: 130px;
          height: 130px;
          left: 20%;
          top: 10%; }
        .affiliates-area .company-wrapper a .company-logo #blubeta {
          background-image: url("../images/blubeta.svg"); }
        .affiliates-area .company-wrapper a .company-logo #fuegtees {
          background-image: url("../images/FuegTees.png"); }
        .affiliates-area .company-wrapper a .company-logo #onetwelfth {
          background-image: url("../images/112.png");
          width: 110px;
          height: 110px;
          top: 15%;
          left: 23%; }
        .affiliates-area .company-wrapper a .company-logo #blackbambu {
          background-image: url("../images/blackbambu.png");
          top: 33%; }
        .affiliates-area .company-wrapper a .company-logo #pointslope {
          background-image: url("../images/pointslope.jpg"); }
        .affiliates-area .company-wrapper a .company-logo #dptm {
          background-image: url("../images/dptm.png"); }
        .affiliates-area .company-wrapper a .company-logo #mystyleblox {
          background-image: url("../images/mystyleblox.png"); }
        .affiliates-area .company-wrapper a .company-logo #manifezt {
          background-image: url("../images/manifezt.jpeg");
          left: 18%;
          top: 12%; }
        .affiliates-area .company-wrapper a .company-logo #taptl {
          background-image: url("../images/taptl.png");
          top: 18%;
          left: 16%; }
        .affiliates-area .company-wrapper a .company-logo #healthsnap {
          background-image: url("../images/healthsnap.png");
          width: 150px;
          height: 150px;
          left: 13%;
          top: 30%; }
        .affiliates-area .company-wrapper a .company-logo #vsm {
          background-image: url("../images/vsm.png");
          left: 30px;
          top: 35px; }
        .affiliates-area .company-wrapper a .company-logo #sidegram {
          background-image: url("../images/sidegram.png");
          height: 90px;
          width: 90px;
          border-radius: 10px;
          left: 55px;
          top: 40px; }
        .affiliates-area .company-wrapper a .company-logo #morphic {
          background-image: url("../images/morphic.png");
          top: 40px;
          width: 150px;
          height: 150px;
          left: 13%; }
        .affiliates-area .company-wrapper a .company-logo #libras {
          background-image: url("../images/libras.svg");
          top: 30px;
          width: 115px;
          height: 115px;
          left: 20%; }
        .affiliates-area .company-wrapper a .company-logo #wyncode {
          background-image: url("../images/wyncode.png");
          width: 175px;
          height: 175px;
          left: 5%;
          top: 0; }
        .affiliates-area .company-wrapper a .company-logo #pacific54 {
          background-image: url("../images/pacific54.svg");
          top: 35px;
          width: 175px;
          height: 175px;
          left: 5%; }
        .affiliates-area .company-wrapper a .company-logo .mason-wrapper {
          width: 175px;
          position: absolute;
          height: 44px;
          top: 35%;
          left: 13px;
          background: #252525;
          margin: 0 auto;
          border-radius: 5px; }
          .affiliates-area .company-wrapper a .company-logo .mason-wrapper #mason {
            background-image: url("../images/mason.png");
            top: 40%;
            width: 160px;
            left: 8px; }
        .affiliates-area .company-wrapper a .company-logo .company-name {
          color: #252525;
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: 15px;
          font-size: 20px; }

.members-area {
  position: relative;
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center; }
  .members-area .member-wrapper {
    width: 70%;
    margin: 0 auto; }
    .members-area .member-wrapper .member-info {
      text-align: center;
      width: 100px;
      height: 120px;
      display: inline-block;
      overflow-y: auto;
      overflow-x: visible;
      word-wrap: break-word; }
      .members-area .member-wrapper .member-info .member-avatar {
        height: 70px;
        width: 70px;
        position: relative;
        display: inline-block;
        border-radius: 5px; }
    .members-area .member-wrapper .username-area {
      background: white;
      border-radius: 5px;
      padding: 3px; }
      .members-area .member-wrapper .username-area .member-username {
        font-size: 12px;
        font-weight: bold; }

.language-area {
  text-align: center;
  padding-top: 5em; }
  .language-area .language-wrapper {
    width: 70%;
    margin: 0 auto; }
    .language-area .language-wrapper .language-logo {
      height: 100px;
      width: 100px;
      background: white;
      border-radius: 5px;
      display: inline-block;
      margin: 5px;
      position: relative;
      text-align: left; }
      .language-area .language-wrapper .language-logo .logo {
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute; }
      .language-area .language-wrapper .language-logo .language-name {
        color: #252525;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 8px;
        font-size: 14px; }
      .language-area .language-wrapper .language-logo #adobe {
        background-image: url("../images/adobe.png");
        width: 55px;
        height: 50px;
        top: 20%;
        left: 25%; }
      .language-area .language-wrapper .language-logo #angular {
        background-image: url("../images/angular.png");
        width: 55px;
        height: 55px;
        top: 13%;
        left: 23%; }
      .language-area .language-wrapper .language-logo #aws {
        background-image: url("../images/aws.png");
        width: 80px;
        height: 100px;
        top: 5%;
        left: 10%; }
      .language-area .language-wrapper .language-logo #chef {
        background-image: url("../images/chef.png");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 25px; }
      .language-area .language-wrapper .language-logo #clojure {
        background-image: url("../images/clojure.png");
        width: 70px;
        height: 70px;
        top: 5%;
        left: 16px; }
      .language-area .language-wrapper .language-logo #css3 {
        background-image: url("../images/css3.svg");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 31px; }
      .language-area .language-wrapper .language-logo #docker {
        background-image: url("../images/docker.png");
        width: 70px;
        height: 70px;
        top: 5%;
        left: 15px; }
      .language-area .language-wrapper .language-logo #elixir {
        background-image: url("../images/elixir.png");
        width: 55px;
        height: 55px;
        top: 10%;
        left: 20px; }
      .language-area .language-wrapper .language-logo #emacs {
        background-image: url("../images/emacs.png");
        width: 70px;
        height: 70px;
        top: 5%;
        left: 15px; }
      .language-area .language-wrapper .language-logo #golang {
        background-image: url("../images/golang.png");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 25px; }
      .language-area .language-wrapper .language-logo #heroku {
        background-image: url("../images/heroku.png");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 25px; }
      .language-area .language-wrapper .language-logo #html5 {
        background-image: url("../images/HTML5.png");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 25px; }
      .language-area .language-wrapper .language-logo #javascript {
        background-image: url("../images/javascript.png");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 25px; }
      .language-area .language-wrapper .language-logo #linux {
        background-image: url("../images/linux.png");
        width: 50px;
        height: 51px;
        top: 15%;
        left: 25px; }
      .language-area .language-wrapper .language-logo #node {
        background-image: url("../images/node.png");
        width: 90px;
        height: 25px;
        top: 30%;
        left: 8px; }
      .language-area .language-wrapper .language-logo #php {
        background-image: url("../images/php.png");
        width: 80px;
        height: 100px;
        top: 0%;
        left: 10px; }
      .language-area .language-wrapper .language-logo #rails {
        background-image: url("../images/rails.png");
        width: 50px;
        height: 55px;
        top: 14%;
        left: 25px; }
      .language-area .language-wrapper .language-logo #react {
        background-image: url("../images/react.svg");
        width: 50px;
        height: 55px;
        top: 17%;
        left: 25px; }
      .language-area .language-wrapper .language-logo #ruby {
        background-image: url("../images/ruby.png");
        width: 100px;
        height: 100px;
        top: -12%;
        left: 0; }
      .language-area .language-wrapper .language-logo #rust {
        background-image: url("../images/rust.svg");
        width: 75px;
        height: 75px;
        top: 3%;
        left: 15px; }
      .language-area .language-wrapper .language-logo #sass {
        background-image: url("../images/sass.jpg");
        width: 100px;
        height: 57px;
        top: 10%;
        left: 0; }
      .language-area .language-wrapper .language-logo #sketch {
        background-image: url("../images/sketch.png");
        width: 55px;
        height: 55px;
        top: 17%;
        left: 22px; }
      .language-area .language-wrapper .language-logo #swift {
        background-image: url("../images/swift.png");
        width: 55px;
        height: 55px;
        top: 13%;
        left: 22px; }
      .language-area .language-wrapper .language-logo #vagrant {
        background-image: url("../images/vagrant.png");
        width: 50px;
        height: 50px;
        top: 15%;
        left: 23px; }
      .language-area .language-wrapper .language-logo #vim {
        background-image: url("../images/vim.png");
        width: 55px;
        height: 55px;
        top: 10%;
        left: 23px; }
      .language-area .language-wrapper .language-logo #wordpress {
        background-image: url("../images/wordpress.png");
        width: 55px;
        height: 55px;
        top: 10%;
        left: 22px; }
      .language-area .language-wrapper .language-logo #xcode {
        background-image: url("../images/xcode.png");
        width: 55px;
        height: 55px;
        top: 10%;
        left: 22px; }

.footer {
  background: #000;
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 150px;
  text-align: center;
  margin-top: 5em; }
  .footer .footer-cta {
    padding-top: 15px;
    font-size: 20px;
    color: white; }
  .footer .footlinkarea {
    padding-top: 10px; }
    .footer .footlinkarea .footer-link {
      font-size: 40px;
      padding: 25px;
      color: white; }
      .footer .footlinkarea .footer-link:hover {
        color: #009CF3; }
  .footer .entity {
    color: white;
    padding-top: 15px;
    font-size: 10px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .chat-widget {
    float: none !important; }

  .affiliates-area .company-wrapper {
    width: 95% !important;
    margin: 0 auto; }

  .members-area .member-wrapper {
    width: 95% !important;
    margin: 0 auto; }

  .language-area .language-wrapper {
    width: 95% !important;
    margin: 0 auto; }

  .space {
    background: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: round;
    color: white; }

  .slack-data {
    background: #252525 !important;
    color: white !important;
    padding-top: 50px !important; }

  .slack-data-top .data-number {
    font-size: 25px;
    position: relative;
    top: 10px; }

  .slack-data-top .data-title {
    font-size: 25px; } }

/*# sourceMappingURL=mainpage.css.map */
