<div class="nav-bar">
  <a href="#" ><div class="logo" ng-click="scrollEvent('home-title')"></div></a>
  <div class="menu">
    <span class="nav-item"><a href="#" ng-click="scrollEvent('what-we-do')">What We Do</a></span>
    <!-- span class="nav-item"><a href="#" ng-click="scrollEvent('events')">Events</a></span -->
    <span class="nav-item"><a href="#" ng-click="scrollEvent('join-slack')">Join Slack</a></span>
  </div>
</div>

<div class="container-title" id='home-title'>
  <span class="title">Wynwood Tech</span>
  <span class="sub-title">Bringing South Florida together
    through technology!</span>
</div>


<div class="about" id="what-we-do">
  <div class="laptop-image"></div>
  <span class="line">
    <span class="header">What We Do</span>
    <span class="about-text">Our mission is to create awareness in the Miami
      Tech ecosystem.  Whether it is having events, or deep techincal
      discussions on our slack channel, we are always creating a buzz in Miami!</span>
  </span>
</div>

<div class="slack" id="join-slack">
  <div class="slack-image"></div>
  <span class="line">
    <span class="header">Join Our Slack</span>
    <span class="slack-text">We are on Slack! If you have any interest being part of awesome discussions, request an invite to join our channel. 
      Our Slack channel has some of the best engineers, busniess oriented people, and creatives in Miami!</span>
  </span>
</div>

<div class="invite-area">
  <div class="preview">Click below to get in the action!</div>
  <span href="#" class="button"  ng-model="collapsed"
    ng-click="collapsed=!collapsed">Request Slack Invite</span>
  <div id="login" ng-show="collapsed">
    <div id="triangle"></div>
    <form class="simple-form">
      <input type="email" placeholder="Email" ng-model="user.email" />
      <input type="submit" value="Save" ng-click="update(user)"/>
    </form>
  </div>
</div>

<div class="chat-area">
  <div class="preview">Take a sneak peek of what the wyn.tech crew is chatting about!</div>
  <div class="chat-header">
    <h2>wyn.tech</h2>
  </div>
  <div class="chats" id="current-chats" ng-hide="chatty">
    <ul>
      <li class="odd" ng-repeat="message in generalMessages" ng-class="{'even': $index%2==0}">
      <img src="{{message.avatar}}" class="chat-avatar" >
      <div class="content">
        <span class="chat-name" style="color:#{{message.color}}">{{ message.username }}</span>
        <span class="chat-message">{{message.message}}</span>
      </div>
      </li>
    </ul>
  </div>
</div>

<div class="footer">
  <div class="footer-cta">Get In Touch</div>
  <div class="footlinkarea">
    <a class="footer-link" href="https://www.facebook.com/wynwoodtech" target="_blank"><div class="fa fa-facebook-square"></div></a>
    <a class="footer-link" href="http://instagram.com/wynwoodtech/" target="_blank"><div class="fa fa-instagram"></div></a>
    <a class="footer-link" href="https://twitter.com/wynwoodtech" target="_blank"><div class="fa fa-twitter-square"></div></a>
    <a class="footer-link" href="https://github.com/WynwoodTech" target="_blank"><div class="fa fa-github-square"></div></a>
  </div>
</div>
