<div class="nav-bar">
  <a href="#" ><div class="logo" ng-click="scrollEvent('home-title')"></div></a>
  <div class="menu">
    <span class="nav-item"><a href="#" ng-click="scrollEvent('what-we-do')">What We Do</a></span>
    <span class="nav-item"><a href="#" ng-click="scrollEvent('join-slack')">Join Slack</a></span>
    <span class="nav-item"><a href="#" ng-click="scrollEvent('affiliates')">Affiliates</a></span>
    <span class="nav-item"><a href="#" ng-click="scrollEvent('current-members')">Members</a></span>
    <!--<span class="nav-item"><a href="#" ng-click="scrollEvent('events')">Events</a></span>-->
  </div>
</div>

<div class="home-area space" id='home-title'>
  <span class="title">Wynwood Tech</span>
  <span class="sub-title">Bringing South Florida together
    through technology!</span>


  <div class="home-link-area">
    <a class="home-link" href="https://www.facebook.com/wynwoodtech" target="_blank"><div class="fa fa-facebook-square"></div></a>
    <a class="home-link" href="http://instagram.com/wynwoodtech/" target="_blank"><div class="fa fa-instagram"></div></a>
    <a class="home-link" href="https://twitter.com/wynwoodtech" target="_blank"><div class="fa fa-twitter-square"></div></a>
    <a class="home-link" href="https://github.com/WynwoodTech" target="_blank"><div class="fa fa-github-square"></div></a>
    <div class="twitter-wrapper">
      <iframe class="twitter-link"
        src="https://platform.twitter.com/widgets/follow_button.html?screen_name=WynwoodTech&show_screen_name=false&show_count=true&size=l"
        title="Follow WynwoodTech on Twitter"
        width="175px"
        height="40px"
        style="border: 0;">
      </iframe>
    </div>
  </div>

  <span href="#" class="button"  ng-model="collapsed"
    ng-click="collapsed=!collapsed">Request Slack Invite</span>

  <div id="login" ng-show="collapsed">
    <div id="triangle"></div>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//tech.us12.list-manage.com/subscribe/post?u=b1c55a7a4265a724d4f5c44af&amp;id=8511e8757f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email"
            id="mce-EMAIL" placeholder="Email">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b1c55a7a4265a724d4f5c44af_8511e8757f" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="about wynwood" id="what-we-do">
  <div class="laptop-image"></div>
  <span class="header">What We Do</span>
  <span class="about-text">
    <p>
     Wynwood Tech is a community composed of professionals, students, freelancers, 
     creatives, and engineers from all over South Florida.
      Our community has organically grown since 2015 and is an important
      facet to the success of growing the tech ecosystem in South Florida.
      Wynwood Tech empowers the South Florida community, whether it is through
      events, or deep technical discussions on our slack channel.
      Our main purpose is to bring great minds together in an effort to help
      cultivate knowledge!
    </p>
  </span>
</div>

<div class="slack space" id="join-slack">
  <div class="slack-image"></div>
  <span class="header">Join Our Slack</span>
  <span class="slack-text">
    <p>
    We are on Slack! If you have any interest being part of awesome discussions,
    request an invite to join our channel. 
    Our Slack channel has constant action with some of the best engineers, busniess oriented people, 
    and creatives in South Florida!
    </p>
  </span>
</div>

<div class="invite-area wynwood">
  <div class="preview">Click below to get in the action!</div>
  <span href="#" class="button"  ng-model="collapsed"
    ng-click="collapsed=!collapsed">Request Slack Invite</span>
  <div id="login" ng-show="collapsed">
    <div id="triangle"></div>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//tech.us12.list-manage.com/subscribe/post?u=b1c55a7a4265a724d4f5c44af&amp;id=8511e8757f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email"
            id="mce-EMAIL" placeholder="Email">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b1c55a7a4265a724d4f5c44af_8511e8757f" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="chat-area space">
  <div class="preview">Take a sneak peek and see what the #WynwoodTech crew is chatting about!</div>
  <div class="chat-wrapper">
    <div class="chat-widget general">
      <div class="chat-header">
        <h2>#general</h2>
      </div>
      <div class="chats" id="current-chats" ng-hide="chatty">
        <ul>
          <li class="odd" ng-repeat="message in generalMessages | limitTo: -5" ng-class="{'even': $index%2==0}">
          <img src="{{message.avatar}}" class="chat-avatar" >
          <div class="content">
            <span class="chat-name" style="color:#{{message.color}}">{{ message.username }}</span>
            <span class="chat-message">{{message.message}}</span>
          </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="chat-widget engineering">
      <div class="chat-header">
        <h2>#engineering</h2>
      </div>
      <div class="chats" id="current-chats" ng-hide="chatty">
        <ul>
          <li class="odd" ng-repeat="message in engineeringMessages | limitTo: -5" ng-class="{'even': $index%2==0}">
          <img src="{{message.avatar}}" class="chat-avatar" >
          <div class="content">
            <span class="chat-name" style="color:#{{message.color}}">{{ message.username }}</span>
            <span class="chat-message">{{message.message}}</span>
          </div>
          </li>
        </ul>
      </div>
    </div>

    <!--<div class="chat-widget random">-->
      <!--<div class="chat-header">-->
        <!--<h2>#random</h2>-->
        <!--</div>-->
      <!--<div class="chats" id="current-chats" ng-hide="chatty">-->
        <!--<ul>-->
          <!--<li class="odd" ng-repeat="message in randomMessages" ng-class="{'even': $index%2==0}">-->
          <!--<img src="{{message.avatar}}" class="chat-avatar" >-->
          <!--<div class="content">-->
            <!--<span class="chat-name" style="color:#{{message.color}}">{{ message.username }}</span>-->
            <!--<span class="chat-message">{{message.message}}</span>-->
            <!--</div>-->
          <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
  </div>
</div>

<div class="affiliates-area wynwood" id="affiliates">
  <span class="header">Companies We Love</span>
  <div class="company-wrapper">
    <a href="http://blubeta.com" target="_blank">
      <div class="company-logo">
        <span class="logo" id="blubeta"> </span>
        <span class="company-name">Blubeta</span>
      </div>
    </a>
    <a href="http://vanillashakemedia.com" target="_blank">
      <div class="company-logo">
        <span class="logo" id="vsm"> </span>
        <span class="company-name">VanillaShake Media</span>
      </div>
    </a>
    <a href="http://www.tap.tl/" target="_blank">
      <div class="company-logo">
        <span class="logo" id="taptl"> </span>
        <span class="company-name">Tap Tl</span>
      </div>
    </a>
    <a href="http://www.sidegramapp.com/" target="_blank">
      <div class="company-logo">
        <span class="logo" id="sidegram"> </span>
        <span class="company-name">SideGram</span>
      </div>
    </a>
    <a href="http://healthsnapsolutions.com/" target="_blank">
      <div class="company-logo">
        <span class="logo" id="healthsnap"> </span>
        <span class="company-name">HealthSnap Solutions</span>
      </div>
    </a>
    <a href="http://www.morphiclabs.com/" target="_blank">
      <div class="company-logo">
        <span class="logo" id="morphic"> </span>
        <span class="company-name">Morphic Labs</span>
      </div>
    </a>
    <a href="http://fuegtees.bigcartel.com" target="_blank">
      <div class="company-logo">
        <span class="logo" id="fuegtees"> </span>
        <span class="company-name">Fueg Tees</span>
      </div>
    </a>
    <a href="http://blackbambu.com" target="_blank">
      <div class="company-logo">
        <span class="logo" id="blackbambu"> </span>
        <span class="company-name">Black Bambu</span>
      </div>
    </a>
    <a href="#" target="_blank">
      <div class="company-logo">
        <span class="logo" id="dptm"> </span>
        <span class="company-name">Department M</span>
      </div>
    </a>
    <a href="http://msnmsn.co" target="_blank">
      <div class="company-logo">
        <span class=mason-wrapper>
          <span class="logo" id="mason"> </span>
        </span>
        <span class="company-name">Maison Mason</span>
      </div>
    </a>
  </div>
</div>

<div class="members-area space" id="current-members">
  <span class="header">Wynwood Tech's Members</span>
  <div class="member-wrapper">
  <div class="member-info" ng-repeat="member in slackMembers">
    <img class="member-avatar" ng-mouseenter="show = true" ng-mouseleave="show = false" src="{{member.avatar}}" />
    <div class="username-area" ng-show="show" >
      <span class="member-username"  style="color:#{{member.color}}">{{member.username}}</span> 
    </div>
    </div>
  </div>
</div>


<div class="language-area wynwood">
  <div class="preview">Our members have experience in the following programming
    languages, frameworks and other technologies!
  </div>
  <div class="language-wrapper">
  <div class="language-logo">
    <span class="logo" id="adobe"> </span>
    <span class="language-name">Adobe</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="angular"> </span>
    <span class="language-name">Angular JS</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="aws"> </span>
    <span class="language-name">AWS</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="chef"> </span>
    <span class="language-name">Chef</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="css3"> </span>
    <span class="language-name">CSS3</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="docker"> </span>
    <span class="language-name">Docker</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="golang"> </span>
    <span class="language-name">Golang</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="heroku"> </span>
    <span class="language-name">Heroku</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="html5"> </span>
    <span class="language-name">HTML5</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="javascript"> </span>
    <span class="language-name">Javascript</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="linux"> </span>
    <span class="language-name">Linux</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="node"> </span>
    <span class="language-name">Node JS</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="php"> </span>
    <span class="language-name">PHP</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="rails"> </span>
    <span class="language-name">Rails</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="react"> </span>
    <span class="language-name">React JS</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="ruby"> </span>
    <span class="language-name">Ruby</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="sass"> </span>
    <span class="language-name">SASS</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="vagrant"> </span>
    <span class="language-name">Vagrant</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="vim"> </span>
    <span class="language-name">Vim</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="wordpress"> </span>
    <span class="language-name">Wordpress</span>
  </div>
  <div class="language-logo">
    <span class="logo" id="xcode"> </span>
    <span class="language-name">X-Code</span>
  </div>
</div>


<div class="footer">
  <div class="footer-cta">Get In Touch</div>
  <div class="footlinkarea">
    <a class="footer-link" href="https://www.facebook.com/wynwoodtech" target="_blank"><div class="fa fa-facebook-square"></div></a>
    <a class="footer-link" href="http://instagram.com/wynwoodtech/" target="_blank"><div class="fa fa-instagram"></div></a>
    <a class="footer-link" href="https://twitter.com/wynwoodtech" target="_blank"><div class="fa fa-twitter-square"></div></a>
    <a class="footer-link" href="https://github.com/WynwoodTech" target="_blank"><div class="fa fa-github-square"></div></a>
  </div>
  <div class="entity">&copy; 2016, Wynwood Tech LLC.</div>
</div>
